<h1> Students </h1>

<div class="row">
    <div class="col-9">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Exams</th>
                    <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% @students.each do |student| %>
                        <% if student != current_student%>
                            <tr>
                                <th scope="row"><%= student.first_name%></th>
                                <td><%= student.last_name%></td>
                                <td><%= student.email %></td>
                                <td> <%= current_student.number_exams(student) %></td>
                                <td>
                                    <%= link_to "View Profile", student_path(student), class:"btn btn-sm btn-success" %>
                                </td>

                            </tr>
                        <% end %>
                    <% end %>
                </tbody>
                
            </table>
    </div>
</div>