<h1> All Conversations </h1>
<div class="row">
    <div class="col-9">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                    <th scope="col">Subject</th>
                    <th scope="col">Last message</th>
                    <th scope="col">Name</th>
                    <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% @conversations.each do |conversation| %>
                        <tr>
                            <td> <%= conversation.subject %> </td>
                            <td> <%= conversation.last_message.body%> </td>
                            <td> 
                                <% if conversation.participants.first != current_user%>
                                    <%= conversation.participants.first.name %> 
                                <% else %>
                                    <%= conversation.participants.last.name %> 
                                <% end %>
                            </td>
                            <td> <%= link_to "View conversation", conversation_path(conversation), class:"btn btn-sm btn-success" %>
                            <%= link_to "Delete conversation", conversation_path(conversation), class:"btn btn-sm btn-danger",data: { confirm: "Are you sure?"}, method: :delete%></td>

                        </tr>
                    <% end %>
                </tbody>
            </table>
    </div>   
</div>     
