<h1> <%= @conversation.subject %> </h1>
<div class="row">
    <div class="col-9">
        <% @conversation.receipts_for(current_user).each do |receipt| %>
            <div class="card my-card">
                <div class="card-body">
                    <%= receipt.message.sender.name %>:<br>
                    <%= receipt.message.body%>
                </div>
            </div>
        <% end %>
        <div class="send_msg">
            <%= form_tag conversation_messages_path(@conversation), method: :post do%>
                <%= text_area_tag :body,nil, class: "form-control"%>
                <p class="mt-3">
                <%= submit_tag "Send message", class:"btn my-button" %>
                </p>
            <%end %>
        </div>
    </div>
</div>