<h1> <%= @student.full_name %> </h1>


<div class="row">
        <div class="col-9">
            <table class="table table-bordered table-hover">
                <% if @student.projects.any?%>
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                            <% @student.projects.each do |project| %>
                                <tr>
                                    <th scope="row"><%= project.project_name%></th>
                                    <td><%= project.description%></td>
                                    <td>
                                        <%= link_to "View", project_path(project), class:"btn btn-sm btn-success" %> <br>
                                        <% if (can? :destroy, project) && (project.user == current_user) %>
                                            <%= link_to "Delete", project_path(project: project), method: :delete, data: { confirm: "Are you sure?"}, class:"btn btn-sm btn-danger" %>
                                        <% end %>
                                        <% if (can? :destroy, project) && (project.user == current_user) %>
                                            <%= link_to "Edit", edit_project_path(project) , class:"btn btn-sm btn-success"%>
                                        <% end %>

                                    </td>
                            
                                </tr>
                            <% end %>
                        </tbody>
                <% else %>
                    <thead>
                        <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Code</th>
                        <th scope="col">Professor</th>
                        <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @student.exams.each do |exam| %>
                            <tr>
                                <th scope="row"><%= exam.name%></th>
                                <td><%= exam.code%></td>
                                <td><%= exam.users.professors.first.full_name %></td>
                                <td>
                                    <%= link_to "View Exam", exam_path(exam), class:"btn btn-sm btn-success" %>
                                    <% if current_user.can_subscribe_to_exam?(exam) %>
                                        <%= link_to "Subscribe", user_exams_path(student: current_user, exam: exam), class:"btn btn-sm btn-success", method: :post %>
                                    <%else %>
                                        <% if can? :destroy, UserExam %>
                                            <span class="badge badge-secondary" >
                                                You are already register
                                            </span>
                                            <%= link_to "Unregister", user_exam_path(exam), method: :delete, data: { confirm: "Are you sure?"}, class:"btn btn-sm btn-danger" %>
                                        <% end %>
                                        <% if can? :edit, Exam %>
                                            <%= link_to "Edit", edit_exam_path(exam), class:"btn btn-sm btn-success" %>
                                        <% end %>
                                        <% if can? :destroy, Exam %>
                                            <%= link_to "Delete", exam_path(exam), method: :delete, data: { confirm: "Are you sure?"}, class:"btn btn-sm btn-danger" %>

                                        <% end %>

                                    <%end %>

                                </td>
                                

                            </tr>
                        <% end %>
                    </tbody>
                <% end %>
            </table>
        </div>
    </div>