<h1> Edit project </h1>
<div class="row">
  <div class="col-9">
        <%= form_with(model: @project, local:true) do |f| %>
            <div class="form-group">
                <%= f.label :project_name %> <br>
                <%= f.text_field :project_name,  class: 'form-control' %>
            </div>
             <div class="form-group">
                <%= f.label :repo %> <br>
                <%= f.text_area :repo, class: 'form-control' %> 
                <br>
            </div>
            <div class="form-group">
                <%= f.label :description %> <br>
                <%= f.text_area :description, class: 'form-control' %> 
                <br>
            </div>

            <div class="form-check form-check-inline">
                <%= f.collection_check_boxes :exam_ids, current_user.exams, :id, :name do |cb| %>
                    <% cb.label(class: "checkbox-inline input_checkbox form-check-label") {cb.check_box(class: "checkbox form-check-input") + cb.text } %> 
                <% end %>
            </div>
            <p>
                <%= f.submit "Edit Project", class:"btn my-button mt-3" %>
            </p>
        <% end %>
    </div>
</div>