<h1> <%= @project.project_name %> </h1>
<p> <%= @project.description %></p>
<div class="row">
    <div class="col-9">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% @project.users.each do |student| %>
                        <tr>
                            <th scope="row"><%= student.first_name%></th>
                            <td><%= student.last_name%></td>
                            <td><%= student.email %></td>
                            <td>
                                <%= link_to "View Profile", user_path(student), class:"btn btn-sm btn-success" %>
                            </td>

                        </tr>
                    <% end %>
                </tbody>
                
            </table>
    </div>
</div>