<h1> <%= @exam.name %> </h1>
<p> <%= @exam.description %> </p>


<div class="row">
        <div class="col-9">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                    <th scope="col">Name</th>
                    <th scope="col"> Description</th>
                    
                    <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% @exam.projects.each do |project| %>
                        <tr>
                            <th scope="row"><%= project.project_name%></th>
                            <td><%= project.description%></td>
                            <td>
                                <%= link_to "View", project_path(project), class:"btn btn-sm btn-success" %> <br>
                            
                                
                                <% if (can? :edit, project) && ((current_user.projects.exists?(project.id)) || current_user.is_admin? ) %>
                                    <%= link_to "Edit", edit_project_path(project) , class:"btn btn-sm btn-success"%>
                                <% end %>
                                <% if (can? :destroy, project) && ((current_user.projects.exists?(project.id)) || current_user.is_admin? )%>
                                    <%= link_to "Delete", project_path(project: project, exam: @exam.id), method: :delete, data: { confirm: "Are you sure?"}, class:"btn btn-sm btn-danger" %>
                                <% end %> 

                            </td>
                            
                        </tr>
                    <% end %>
                </tbody>
                
            </table>
        </div>
    </div>