<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%=link_to fa_icon('users', text: "Grouped"), root_path, class:"navbar-brand"%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <% if student_signed_in? %>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= 'active' if request.path == exams_path %>">
        <%= link_to "Exams", exams_path, class:"nav-link" %>
      </li>
      <li class="nav-item <%= 'active' if request.path == students_path %>">
        <%= link_to "Students", students_path, class:"nav-link" %>
      </li>
      
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul> 
    
    
      <ul class="navbar-nav ml-auto">
      <% if current_student.exams.any? %>
        <li class="nav-item">
          <%= link_to fa_icon("plus", text: "Create Project"), new_project_path, class:"nav-link"%>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Subscribe to exam for create project", exams_path, class:"nav-link" %>
        </li>
      <% end %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%=current_student.full_name%>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to fa_icon("user", text: "Profile"), student_path(current_student), class:"dropdown-item"%>
          <%= link_to fa_icon("edit", text: "Edit Profile"), edit_student_registration_path(current_student), class:"dropdown-item"%>
          <%= link_to fa_icon("sign-out", text: "Logout"), destroy_student_session_path, class:"dropdown-item", method: :delete%>
        </div>
      </li>
        
      </ul>
    <% end %>
    
  </div>
</nav>